.upr-div {
    height: 60px;
    background-color: white;
    width: 100%;
}

.outer-div {
    height: 100%;
}

.username {
    display: flex;
    justify-content: flex-end;
    margin: auto 0;
}

.dropDownBtn {
    border-radius: 0;
    margin: 18px;
}

.dropDownRow {
    margin: 5px 15px;
}

.box-style {
    display: flex;
    justify-content: flex-end;
}

.seatBox {
    height: auto;
    background-color: #accbff;
    width: 95%;
    margin: auto;
    border: 3px solid navy;
    margin-top: 30px;
    padding: 10px;
}

.bookBtn {
    margin: auto;
    padding: auto;
    text-align: center;


}

.full-ht {
    height: inherit;
}

.wing {
    width: "49%";
    box-shadow: 'navy 1px 5px 8px 2px';
    border-radius: '5px';
    margin: '2px'
}
